<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <!-- <% if (user) { %>
	<p>Hello <%= user.username %></p>
<% } %> -->
    <header>
      <%- include('../partials/header'); %>
    </header>
<div class="flex justify-center items-center mt-2 text-center h-screen">
    <div class="max-w-sm  overflow-hidden shadow-lg">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">Voot Select login</div>
    <p class="text-gray-700 text-base">
      You are required to login to Voot Select to watch premium shows!
      <br>
      <br>
      After you're signed in to Voot Select close the popup and go to the Ani TV Shows Home page.
    </p>
          <div>
        <button type="button" id="vootLoginBtn"
          target="_blank" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 mt-2">
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <!-- Heroicon name: solid/lock-closed -->
            <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
            </svg>
          </span>
          Sign in to Voot Select
        </button>
      </div>
  </div>
</div>
</div>
    <script>
      var vootLoginBtn = document.getElementById('vootLoginBtn');

 
      
      vootLoginBtn.addEventListener('click', () => {
        var tab = window.open('https://www.voot.com/subscription', 'popup_window', 'width=400, height=800, toolbar=0')
        var pollTimer = window.setInterval(function() {
    if (win.closed !== false) { // !== is required for compatibility with Opera
        window.clearInterval(pollTimer);
        setLoginInfo();
    }
}, 200);
        function setLoginInfo() {

        var loginConfrm = confirm('Did you login to voot?')
        if (loginConfirm) {
          setCookie('vootLogin', 'true', 30)   
          alert('Marked as loggedin!')
        } else {
          alert('Please relogin to Voot!')
        }
    
};
      })
    </script>
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
